@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');

:root{
    --main-color: #379237;
    --sub-black: black;
    --sub-white: white;
    --hover-orange:#FF6000;  
}
* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
}
.top_bar .main {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--main-color);

}

.top_bar .main .free_Delivery {
    color: var(--sub-white);
    padding: 0 2rem;
}
.top_bar .main .free_Delivery h5{
    letter-spacing: 1.5px;
}
.top_bar .main .sign_In a{
    color: var(--sub-white);

    transition: .3s linear;
}
.top_bar .main .sign_In a:hover{
    color: var(--hover-orange);
    font-size: 1.3rem;
}
.menu_bar{
    display: flex;
    /* border: solid 1px red; */
    justify-content: left;
}
.menu_bar .logo{
    /* border: solid 1px red; */
    padding: 0 2rem
}
.menu_bar .logo img{
    width: 65px;
}
.menu_bar .menu{
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    width: 65rem;
    /* border: solid 1px red; */
    margin: 2rem;
}

.menu_bar .menu a{
    color: var(--main-color);
    border-radius: 4px;
    transition: .3s;

}
.menu_bar .menu a:hover{
    color: var(--hover-orange);
}
.menu_bar .side_menu{
    position: absolute;
    right: 0;
    text-align: right;
    /* border: solid 2px red; */
    width: 15rem;
    height: 15rem;
    margin-right: 4px;
    z-index: 11;
}
.menu_bar .side_menu .icon {
    color:var(--main-color);
    border-radius: 4px;
    font-size: 2rem;
    margin: 1rem;
    margin-bottom: 2rem;
    cursor: pointer;
}
.menu_bar .side_menu .icon:hover{
    color: var(--hover-orange);
}

.menu_bar .side_menu img{
    color: var(--hover-orange);
    width: 2rem;
    background-color: transparent;
}
.menu_bar .side_menu #side_bar .inner{
    display: none;
    justify-content: space-between;
    padding: 5px;
    margin: 2px;
    position: relative;
}
.menu_bar .side_menu #side_bar .inner p{
    color: var(--hover-orange);
}
.menu_bar .side_menu #side_bar .inner.active{
    display: flex;
    border-bottom: var(--hover-orange) 1px solid;
}

.body1{
    background: url(images/background_3-removebg-preview.png) no-repeat center right, url(images/background_4-removebg-preview.png) no-repeat center left;
    background-size:60%;
    height: 70vh;
    background-color: var(--main-color);
    text-align: center;
    margin: 5px 0;
}
.body1 img{
    position: absolute;
    left: 0;
}
.body1 .cook{
    font-size: 1rem;
    margin: 2rem 0;
    padding-top: 1rem;
    color: var(--hover-orange);
    letter-spacing: 2px;
}
@keyframes slideInLeft{
    from{
        transform: translateX(-600px) ;
    }
    to{
        transform: translateX(0);
    }
}

.body1 .healthy{
    font-size: 3rem;
    margin: 1rem 0;
    color: var(--sub-white);
    letter-spacing: 2px;

    animation-duration: .6s;
    animation-name: slideInLeft;
    animation-timing-function: ease-in-out;
    animation-delay: .4s;

}
.btn{
    padding: 2px 15px;
    color: var(--sub-white);
    border: solid 2px;
    background-color: transparent;
    border-radius: 3px;

    transition: .2s linear;
}
.btn:hover{
    background-color: var(--hover-orange);
    border-radius: 13px;
    font-size: 1rem;
}
.body1 .btn1{
    margin-top: 3rem;
}
/* .body2{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 1rem; */

.body2 .featuresHeading{
    font-size: 1.6rem;
    color: var(--hover-orange);
    text-transform: capitalize;
    margin: 1rem;
    text-align: center;
    margin-bottom: 3rem;
}
.body2 .categories .swiper .swiper-wrapper .swiper-slide{
    border-radius: 10%;
    width: 14rem;
    height: 15rem;
    text-align: center;
    margin: 0.5rem 2px;
    padding: 2px 2px;
}
.body2 .categories .swiper .swiper-wrapper .swiper-slide img{
    width: 12rem;
    height:11rem;
    border-radius: 50%;
}
/* .body2 .categories .swiper .swiper-wrapper .image1{
    background-color: #C9F4AA;

}
.body2 .categories .swiper .swiper-wrapper .image2{
    background-color: #F7C04A;
}
.body2 .categories .swiper .swiper-wrapper .image3{
    background-color: #FF6464;
}
.body2 .categories .swiper .swiper-wrapper .image4{
    background-color: #539165;
}
.body2 .categories .swiper .swiper-wrapper .image4{
    background-color: #F0FF42;
} */
.body2 .shopNow{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:1rem;
    margin: 1rem 2rem;
    background: var(--main-color);
    height: 20rem;
    margin-bottom: 2rem;
}

.body2 .shopNow .part1{
    width: 25%;
    background-color: #EC7272;
    height: 10rem;
    padding: 2rem;
    line-height: 2;
    font-weight: 100;
}
.body2 .shopNow .part2{
    width: 25%;
    background-color: #F7A76C;
    height: 10rem;
    padding: 2rem;
    line-height: 2;
    font-weight: 100;
}
.body2 .shopNow .part3{
    width: 25%;
   background-color: #C3FF99;
    height: 10rem;
    padding: 2rem;
    line-height: 2;
    font-weight: 100;
}
.footer{
    text-align: center;
    margin-top: 2rem;
    width: 100%;
}
.footer .contacts{
    font-size: 1.4rem;
    width: 100%;
    text-align: center;
    margin: 2rem 0;
    color: var(--main-color);
    height: 20%;
}
.footer .bottom {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: var(--main-color);
    height: 30%;
    margin-top: 2rem;
}
.footer .bottom a{
    font-size: 2rem;
    color: black;
    padding: 1rem;

    transition: .3s;
}
.footer .bottom a:hover{
    color: var(--hover-orange);
    font-size: 2.5rem;

}